* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "Myfont-Regular";
  src: url(Myfont-Regular.ttf);
}

.layar {
  width: 1366px;
  margin: auto;
  position: relative;
}

.slider {
  position: absolute;
  width: 100%;
  height: 700px;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 1366px;
  height: 700px;
}

.slide1 {
  background: url("asset/banner1.jpg") no-repeat center;
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
  animation-duration: 15s;
}

.slide2 {
  background: url("asset/banner2.jpg") no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
  animation-duration: 15s;
}

.slide3 {
  background: url("asset/banner5.jpg") no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
  animation-duration: 15s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title {
  font-family: "Myfont-Regular", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 250px;
  color: #950101;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title h1 {
  font-weight: bolder;
}

.title h6 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-left: 300px;
  margin-right: 300px;
}
nav {
  width: 1366px;
  height: 100px;
  left: -17px;
  top: 0px;
}

.gradient {
  position: absolute;
  width: 1366px;
  height: 122px;
  top: -3.1px;

  background: linear-gradient(180deg, #c4c4c4 5%, rgba(196, 196, 196, 0) 100%);
}
.logo img {
  float: left;
  width: 165px;
  height: 80px;
  left: 40px;
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
}

.menu {
  float: right;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 25px;
  display: flex;
}

.menu ul li {
  position: relative;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
}

.menu ul li a {
  color: #fff;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.menu ul li .fas {
  color: #fff;
  margin-left: -15px;
}

.menu ul li form .fas {
  margin-left: 0;
}

.menu ul li :hover {
  color: #000;
}

.cari {
  color: #fff;
  border: #fff;
  border-radius: 5px;
  width: 100px;
}

.dropdown {
  display: none;
}

.menu li:hover .dropdown {
  display: block;
  position: absolute;
  width: 160px;
  height: 180px;
  margin-top: 15px;
  background: linear-gradient(180deg, #e9e8e8 0%, rgba(240, 236, 236, 0) 100%);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.menu li:hover .dropdown ul {
  display: block;
  margin-top: -15px;
}

.menu li:hover .dropdown ul li {
  width: 150px;
  padding: 5px;
  text-align: left;
}

.menu li:hover .dropdown ul li a {
  margin: -35px;
  margin-top: -15px;
}

#check {
  display: inline-block;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
}

.retangle {
  position: absolute;
  width: 800px;
  height: 85px;
  left: 280px;
  top: 650px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
}

.akomodasi img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 20px;
  top: -10px;
}

.destinasi img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 180px;
  top: -10px;
}

.budaya img {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 360px;
  top: 17px;
}

.event img {
  position: absolute;
  width: 70;
  height: 50px;
  left: 530px;
  top: 20px;
}

.kuliner img {
  position: absolute;
  width: 120px;
  height: 100px;
  left: 670px;
  top: -10px;
}

.kotak {
  position: absolute;
  width: 570px;
  height: 330px;
  left: -300px;
  top: 850px;
  background: #ff4d00;
  border-radius: 15px;
}

.motto {
  position: absolute;
  width: 1130px;
  height: 350px;
  left: 236px;
  top: 834px;
  background: #3d0000;
}

.motto img {
  position: absolute;
  width: 450px;
  height: 308px;
  left: -200px;
  top: 25px;
}

.motto h4 {
  font-family: "Myfont-Regular", sans-serif;
  position: absolute;
  width: 559px;
  height: 100px;
  left: 450px;
  top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.motto h6 {
  position: absolute;
  width: 686px;
  height: 74px;
  left: 380px;
  top: 180px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.garis {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 0px;
  top: 1230px;
  border: 8px solid #950101;
}

.judultop h2 {
  position: absolute;
  width: 873px;
  height: 51px;
  left: 251px;
  top: 1190px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.08em;
  color: #000000;
}

.judultop h6 {
  position: absolute;
  width: 578px;
  height: 75px;
  left: 14px;
  top: 1290px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.top img {
  position: absolute;
  width: 1366px;
  height: 442px;
  left: 0;
  top: 1180px;
  filter: drop-shadow(0px 10px 3px rgba(255, 0, 0, 0.25));
  border-radius: 5px;
  opacity: 0.2;
}

.top1 img {
  position: absolute;
  width: 284px;
  height: 350px;
  left: 99px;
  top: 1443px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.top2 img {
  position: absolute;
  width: 284px;
  height: 350px;
  left: 451px;
  top: 1443px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.top3 img {
  position: absolute;
  width: 296px;
  height: 350px;
  left: 811px;
  top: 1443px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.btn {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 1175px;
  top: 1618px;
  background: #ff4d00;
  border-radius: 15px;
}

.btn h6 {
  position: absolute;
  width: 170px;
  height: 51px;
  left: 15px;
  top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #000000;
}

.garis2 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 1100px;
  top: 1894px;
  border: 8px solid #950101;
}

.judulkuliner h2 {
  position: absolute;
  width: 425px;
  height: 51px;
  left: 880px;
  top: 1860px;
  font-weight: bold;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.08em;
  color: #000000;
}

.judulkuliner h6 {
  position: absolute;
  width: 480px;
  height: 42px;
  left: 880px;
  top: 1950px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000000;
}

.kulinertop img {
  position: absolute;
  width: 1000px;
  height: 350px;
  left: 360px;
  top: 2100px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.kuliner1 img {
  position: absolute;
  width: 477px;
  height: 433px;
  left: 57px;
  top: 2050px;
  border: 8px solid #000000;
  box-sizing: border-box;
}

.kuliner2 img {
  position: absolute;
  width: 224px;
  height: 238px;
  left: 570px;
  top: 2050px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.kuliner3 img {
  position: absolute;
  width: 224px;
  height: 238px;
  left: 820px;
  top: 2050px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.kuliner4 img {
  position: absolute;
  width: 224px;
  height: 238px;
  left: 1070px;
  top: 2050px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.btn1 {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 904px;
  top: 2350px;
  background: #ff4d00;
  border-radius: 15px;
}

.btn1 h6 {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  left: 15px;
  top: 10px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.08em;
  color: #000000;
}

.border {
  position: absolute;
  width: 526px;
  height: 478px;
  left: 30px;
  top: 2025px;
  background: #ffffff;
  border: 8px solid #950101;
  box-sizing: border-box;
}

.garis3 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: -10px;
  top: 2600px;

  border: 8px solid #950101;
}

.judulevent h2 {
  position: absolute;
  width: 425px;
  height: 51px;
  left: 250px;
  top: 2560px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.08em;
  color: #000000;
}

.judulevent h6 {
  position: absolute;
  width: 447px;
  height: 66px;
  left: 19px;
  top: 2650px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000000;
}

.eventtop {
  position: absolute;
  width: 1150px;
  height: 350px;
  left: 210px;
  top: 2750px;
  background: rgba(36, 36, 36, 0.97);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eventtop img {
  position: absolute;
  width: 565px;
  height: 350px;
  left: -200px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.eventtop h2 {
  position: absolute;
  left: 700px;
  top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 49px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.eventtop h6 {
  position: absolute;
  width: 600px;
  height: 161px;
  left: 500px;
  top: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.garis4 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 549px;
  top: 3247px;
  border: 8px solid #950101;
}
.news h2 {
  position: absolute;
  width: 336px;
  height: 51px;
  left: 800px;
  top: 3210px;
  font-weight: bold;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.08em;

  color: #000000;
}

.newstop-container {
  position: absolute;
  width: 1200px;
  height: 434px;
  left: 150px;
  top: 3320px;
}

.news-list li {
  width: 220px;
  height: 296px;
  left: -40px;
  padding: 30px;
  overflow: hidden;
  float: left;
}

.news-list li img {
  left: 30px;
  width: 210px;
  height: 296px;
  border-radius: 5px;
}

.news-list li p {
  position: absolute;
  top: 50px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 50px;

  color: #ffffff;
}

#p1 {
  left: 40px;
  width: 150px;
  height: 99px;
}

#p2 {
  left: 320px;
  width: 150px;
  height: 99px;
}

#p3 {
  left: 600px;
  width: 150px;
  height: 99px;
}

#p4 {
  left: 885px;
  width: 150px;
  height: 99px;
}

footer {
  position: absolute;
  width: 1366px;
  height: 350px;
  left: 0;
  top: 3800px;
  background: #000000;
  background-size: 1366px 350px;
  backdrop-filter: blur(50px);
}

.logo2 img {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 70px;
  top: 50px;
}
.footer-info {
  margin-bottom: 5px;
}
.footer-info h3 {
  position: absolute;
  width: 110px;
  left: 70px;
  top: 150px;
  font-family: Yatra One;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer-info p {
  position: absolute;
  width: 263px;
  left: 70px;
  top: 165px;
  font-size: 16px;
  line-height: 24px;
  font-family: Yatra One;
  color: #ffffff;
}

.fontawesome-free h3 {
  position: absolute;
  width: 184px;
  left: 480px;
  top: 60px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  font-family: Yatra One;
  color: #ffffff;
}

.fontawesome-free ul {
  position: absolute;
  width: 184px;
  left: 500px;
  top: 100px;
  color: #ffffff;
  line-height: 50px;
  font-size: 16px;
  font-family: Yatra One;
}

.footer-maps .maps iframe {
  position: absolute;
  width: 475px;
  height: 283px;
  left: 850px;
  top: 30px;
}

/*css destinasi wisata */
.headdestinasi {
  position: absolute;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("asset/banner2.jpg");
  background-size: cover;
}

.title1 h1 {
  position: absolute;
  left: 600px;
  top: 300px;
  font-family: Myfont;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  color: #ffffff;
}

.garis5 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 0px;
  top: 697px;
  border: 8px solid #950101;
}

.judulalam h2 {
  position: absolute;
  width: 613px;
  height: 51px;
  left: 254px;
  top: 660px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.08em;
  color: #000000;
}

.judulalam h6 {
  position: absolute;
  width: 578px;
  height: 75px;
  left: 14px;
  top: 724px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.alam {
  position: absolute;
  width: 1300px;
  top: 800px;
  margin-left: 50px;
  margin-right: 50px;
}

.alam1 img {
  position: absolute;
  width: 400px;
  height: 230px;
}

.topleft1 {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam2 img {
  position: absolute;
  width: 400px;
  height: 230px;
  top: 250px;
}

.topleft2 {
  position: absolute;
  top: 258px;
  left: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam3 img {
  position: absolute;
  width: 397px;
  height: 480px;
  left: 450px;
}

.topleft3 {
  position: absolute;
  top: 8px;
  left: 470px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam4 img {
  position: absolute;
  width: 397px;
  height: 485px;
  left: 900px;
  top: -5px;
}

.topleft4 {
  position: absolute;
  top: 8px;
  left: 920px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam5 img {
  position: absolute;
  width: 397px;
  height: 480px;
  top: 500px;
}

.topleft5 {
  position: absolute;
  top: 508px;
  left: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam6 img {
  position: absolute;
  width: 397px;
  height: 480px;
  top: 500px;
  left: 450px;
}

.topleft6 {
  position: absolute;
  top: 508px;
  left: 470px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam7 img {
  position: absolute;
  width: 400px;
  height: 230px;
  left: 900px;
  top: 500px;
}

.topleft7 {
  position: absolute;
  top: 508px;
  left: 920px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.alam8 img {
  position: absolute;
  width: 400px;
  height: 230px;
  left: 900px;
  top: 750px;
}

.topleft8 {
  position: absolute;
  top: 758px;
  left: 920px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.garis6 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 1120px;
  top: 1900px;
  border: 8px solid #950101;
}

.judulbudaya h2 {
  position: absolute;
  width: 695px;
  height: 51px;
  left: 600px;
  top: 1860px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 89px;
  letter-spacing: 0.08em;
  color: #000000;
}

.judulbudaya h6 {
  position: absolute;
  height: 75px;
  left: 600px;
  top: 1950px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #000000;
}

.destinasibudaya {
  position: absolute;
  width: 1300px;
  top: 2000px;
  margin-left: 50px;
  margin-right: 50px;
}

.budaya1 img {
  position: absolute;
  width: 400px;
  height: 230px;
}

.topleft9 {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya2 img {
  position: absolute;
  width: 400px;
  height: 230px;
  top: 250px;
}

.topleft10 {
  position: absolute;
  top: 258px;
  left: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya3 img {
  position: absolute;
  width: 397px;
  height: 480px;
  left: 450px;
  top: -5px;
}

.topleft11 {
  position: absolute;
  top: 6px;
  left: 466px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya4 img {
  position: absolute;
  width: 397px;
  height: 485px;
  left: 900px;
  top: -5px;
}

.topleft12 {
  position: absolute;
  top: 6px;
  left: 916px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya5 img {
  position: absolute;
  width: 397px;
  height: 480px;
  top: 500px;
}

.topleft13 {
  position: absolute;
  top: 508px;
  left: 16px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya6 img {
  position: absolute;
  width: 397px;
  height: 480px;
  top: 500px;
  left: 450px;
}

.topleft14 {
  position: absolute;
  top: 508px;
  left: 466px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya7 img {
  position: absolute;
  width: 400px;
  height: 230px;
  left: 900px;
  top: 500px;
}

.topleft15 {
  position: absolute;
  top: 508px;
  left: 916px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.budaya8 img {
  position: absolute;
  width: 400px;
  height: 230px;
  left: 900px;
  top: 750px;
}

.topleft16 {
  position: absolute;
  top: 758px;
  left: 916px;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
}

.footer2 {
  top: 3000px;
}

/*CSS object Wisata*/

.title2 h1 {
  position: absolute;
  left: 500px;
  top: 300px;
  font-family: Myfont;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  color: #ffffff;
}

.objectwisata {
  position: absolute;
  width: 1200px;
  top: 700px;
  margin-left: 50px;
  margin-right: 50px;
}

.objectwisata img {
  display: block;
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.objectwisata h2 {
  position: absolute;
  width: 1100px;
  height: 387px;
  left: 94px;
  top: 530px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.objectwisata h6 {
  position: absolute;
  width: 1000px;
  height: 387px;
  left: 94px;
  top: 580px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}

.object {
  position: absolute;
  width: 1000px;
  height: 387px;
  top: 1600px;
  margin-left: 150px;
}

.object1 img {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 0;
}

.object2 img {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 350px;
}

.object3 img {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 700px;
}

.peta iframe {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 2100px;
  left: 150px;
}

.footer1 {
  top: 2800px;
}

/*kuliner*/
.daftarkuliner {
  position: absolute;
  width: 1000px;
  top: 700px;
  left: 30px;
}

.daftarkuliner1 h2 {
  position: absolute;
  width: 292px;
  height: 41px;
  left: 500px;
  top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.daftarkuliner1 img {
  position: absolute;
  width: 650px;
  height: 350px;
  top: 50px;
  left: 300px;
}

.daftarkuliner1 h6 {
  position: absolute;
  width: 1000px;
  height: 167px;
  left: 206px;
  top: 420px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}

.daftarkuliner2 h2 {
  position: absolute;
  width: 292px;
  height: 41px;
  left: 500px;
  top: 700px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.daftarkuliner2 img {
  position: absolute;
  width: 650px;
  height: 350px;
  top: 750px;
  left: 300px;
}

.daftarkuliner2 h6 {
  position: absolute;
  width: 1000px;
  height: 167px;
  left: 206px;
  top: 1120px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}

.daftarkuliner3 h2 {
  position: absolute;
  width: 292px;
  height: 41px;
  left: 500px;
  top: 1400px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.daftarkuliner3 img {
  position: absolute;
  width: 650px;
  height: 350px;
  top: 1450px;
  left: 300px;
}

.daftarkuliner3 h6 {
  position: absolute;
  width: 1000px;
  height: 167px;
  left: 206px;
  top: 1820px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}

.footer3 {
  top: 3000px;
}

/* event*/
.vidioevent iframe {
  position: absolute;
  width: 1200px;
  height: 600px;
  left: 70px;
  top: 666px;
}

.sidebar1 {
  position: absolute;
  width: 400px;
  left: 70px;
  top: 1300px;
}

.calender iframe {
  position: absolute;
  width: 250px;
  height: 300px;
  left: 0;
}

.event1 h2 {
  position: absolute;
  width: 350px;
  height: 117px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.event1 h6 {
  position: absolute;
  width: 250px;
  height: 570px;
  top: 370px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 28px;

  color: #000000;
}

.event2 h2 {
  position: absolute;
  width: 350px;
  height: 117px;
  top: 700px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.event2 h6 {
  position: absolute;
  width: 250px;
  height: 570px;
  top: 720px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 28px;

  color: #000000;
}

.sidebar2 {
  position: absolute;
  width: 900px;
  left: 400px;
  top: 1300px;
}

.event3 img {
  position: absolute;
  width: 800px;
  height: 450px;
}

.event3 h2 {
  position: absolute;
  top: 500px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.event3 h6 {
  position: absolute;
  width: 850px;
  top: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #000000;
}

.event4 img {
  position: absolute;
  width: 800px;
  height: 450px;
  top: 800px;
}

.event4 h2 {
  position: absolute;
  top: 1300px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.event4 h6 {
  position: absolute;
  width: 850px;
  top: 1350px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #000000;
}

/*ABOUT US */
.vidioprofile iframe {
  position: absolute;
  width: 1200px;
  height: 600px;
  top: 666px;
  left: 100px;
}

.profile {
  position: absolute;
  top: 1350px;
}

.profile img {
  position: absolute;
  width: 386px;
  height: 464px;
  top: 5px;
}

.profile h1 {
  position: absolute;
  width: 800px;
  left: 430px;
  top: 5px;
  font-family: Myfont;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 108px;
  text-align: center;
}

.profile h6 {
  position: absolute;
  width: 900px;
  height: 400px;
  left: 400px;
  top: 300px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.08em;
}

.testi {
  position: absolute;
  top: 2000px;
}
.garis7 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 0;
  top: 0;
  border: 8px solid #950101;
}

.testi h2 {
  position: absolute;
  width: 602px;
  height: 51px;
  left: 280px;
  top: -23px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.08em;
  color: #000000;
}

.testi1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 129px;
  top: 60px;
}

.testi1 img {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.testi1 h5 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 205px;
  text-align: center;
}

.testi1 h6 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 220px;
  text-align: center;
}

.testi2 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 550px;
  top: 60px;
}

.testi2 img {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.testi2 h5 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 205px;
  text-align: center;
}

.testi2 h6 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 220px;
  text-align: center;
}

.testi3 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1000px;
  top: 60px;
}

.testi3 img {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.testi3 h5 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 205px;
  text-align: center;
}

.testi3 h6 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 220px;
  text-align: center;
}

.footer5 {
  top: 2500px;
}

/* galery */
.img1 img {
  position: absolute;
  width: 498px;
  height: 230px;
  left: 18px;
  top: 614px;
  margin-top: 25px;
  border-radius: 10px;
}

.img2 img {
  position: absolute;
  width: 498px;
  height: 230px;
  left: 18px;
  top: 918px;
  border-radius: 10px;
}

.img3 img {
  position: absolute;
  width: 397px;
  height: 578px;
  left: 539px;
  top: 580px;
  margin-top: 30px;
  border-radius: 10px;
}

.img4 img {
  position: absolute;
  width: 397px;
  height: 578px;
  left: 947px;
  top: 592px;
  margin-top: 18px;
  border-radius: 10px;
}

.img5 img {
  position: absolute;
  width: 397px;
  height: 578px;
  left: 18px;
  top: 1203px;
  border-radius: 10px;
}

.img6 img {
  position: absolute;
  width: 397px;
  height: 578px;
  left: 432px;
  top: 1203px;
  border-radius: 10px;
}

.img7 img {
  position: absolute;
  width: 483.95px;
  height: 230px;
  left: 860px;
  top: 1225px;
  border-radius: 10px;
}

.img8 img {
  position: absolute;
  width: 483.95px;
  height: 230px;
  left: 860px;
  top: 1496px;
  border-radius: 10px;
}

.img9 img {
  position: absolute;
  width: 483.95px;
  height: 230px;
  left: 32.05px;
  top: 1841px;
  border-radius: 10px;
}
.img10 img {
  position: absolute;
  width: 498px;
  height: 230px;
  left: 18px;
  top: 2145px;
  border-radius: 10px;
}

.img11 img {
  position: absolute;
  width: 385.8px;
  height: 578px;
  left: 550.2px;
  top: 1819px;
  border-radius: 10px;
}

.img12 img {
  position: absolute;
  width: 385.8px;
  height: 578px;
  left: 958.2px;
  top: 1819px;
  border-radius: 10px;
}

.footer4 {
  top: 2500px;
}

/* budaya  */
.budayatop1 img {
  position: absolute;
  width: 420px;
  height: 504px;
  left: 64px;
  top: 683px;
  font-size: 30px;
}
.judultop1 h1 {
  position: absolute;
  width: 570px;
  height: 104px;
  left: 550px;
  top: 683px;
  font-weight: bold;
  font-size: 40px;
  line-height: 75px;
  color: #000000;
}

.judultop1 h6 {
  position: absolute;
  width: 800px;
  height: 336px;
  left: 550px;
  top: 787px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.batas {
  position: absolute;
  width: 469px;
  height: 0px;
  left: 880px;
  top: 1235px;

  border: 10px solid #950101;
}

.budayatop2 img {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 930px;
  top: 1310px;
}

.judultop2 h1 {
  position: absolute;
  width: 570px;
  height: 104px;
  left: 64px;
  top: 1313px;

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 75px;

  color: #000000;
}

.judultop2 h6 {
  position: absolute;
  width: 800px;
  height: 336px;
  left: 64px;
  top: 1423px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  color: #000000;
}

.videobudaya {
  position: absolute;
  left: 60px;
  top: 1914px;
}

.footer6 {
  top: 2600px;
}

/*akomodasi */
.bgakomodasi {
  position: absolute;
  width: 1100px;
  height: 50px;
  left: 150px;
  top: 654px;

  background: rgba(255, 77, 0, 0.85);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.cariakomodasi1 {
  color: #fff;
  border-color: #fff;
  width: 200px;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 14px;
}

.cariakomodasi2 {
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  width: 200px;
  margin-left: 100px;
}

.cariakomodasi3 {
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  width: 200px;
  margin-left: 100px;
}

.bgakomodasi i {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 1000px;
  margin-top: 16px;
  color: #000000;
}

.akomodasi1 img {
  position: absolute;
  width: 473px;
  height: 259px;
  left: 155px;
  top: 790px;
}

.judulakomodasi1 h1 {
  position: absolute;
  left: 700px;
  top: 780px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
}

.judulakomodasi1 h6 {
  position: absolute;
  left: 700px;
  top: 830px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}

.box1 {
  position: absolute;
  width: 203px;
  height: 43px;
  left: 697px;
  top: 1000px;

  background: #ff4d00;
}

.box1 h4 {
  padding-left: 55px;
  margin-top: 13px;
  color: #000;
}

.akomodasi2 img {
  position: absolute;
  width: 473px;
  height: 259px;
  left: 155px;
  top: 1155px;
}

.judulakomodasi2 h1 {
  position: absolute;
  left: 700px;
  top: 1150px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
}

.judulakomodasi2 h6 {
  position: absolute;
  left: 700px;
  top: 1200px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}

.box2 {
  position: absolute;
  width: 203px;
  height: 43px;
  left: 697px;
  top: 1366px;

  background: #ff4d00;
}

.box2 h4 {
  padding-left: 55px;
  margin-top: 13px;
  color: #000;
}

.akomodasi3 img {
  position: absolute;
  width: 473px;
  height: 259px;
  left: 155px;
  top: 1528px;
}

.judulakomodasi3 h1 {
  position: absolute;
  left: 705px;
  top: 1520px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
}

.judulakomodasi3 h6 {
  position: absolute;
  left: 704px;
  top: 1570px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}

.box3 {
  position: absolute;
  width: 203px;
  height: 43px;
  left: 697px;
  top: 1738px;

  background: #ff4d00;
}

.box3 h4 {
  padding-left: 55px;
  margin-top: 13px;
  color: #000;
}

.akomodasi4 img {
  position: absolute;
  width: 473px;
  height: 259px;
  left: 155px;
  top: 1899px;
}

.judulakomodasi4 h1 {
  position: absolute;
  left: 700px;
  top: 1890px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
}

.judulakomodasi4 h6 {
  position: absolute;
  left: 700px;
  top: 1940px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #000000;
}

.box4 {
  position: absolute;
  width: 203px;
  height: 43px;
  left: 697px;
  top: 2093px;

  background: #ff4d00;
}

.box4 h4 {
  padding-left: 55px;
  margin-top: 13px;
  color: #000;
}

.footer7 {
  top: 2300px;
}

/*artikel */
.news1 img {
  position: absolute;
  width: 356px;
  height: 225px;
  left: 57px;
  top: 599px;
  margin-top: 20px;
}

.judulnews1 h1 {
  position: absolute;
  width: 177px;
  height: 35px;
  left: 57px;
  top: 850px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.judulnews1 h6 {
  position: absolute;
  width: 350px;
  height: 336px;
  left: 57px;
  top: 900px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.read a {
  position: absolute;
  left: 57px;
  top: 1100px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #2a3cd9;
}

.news2 img {
  position: absolute;
  width: 356px;
  height: 225px;
  left: 538px;
  top: 620px;
}

.judulnews2 h1 {
  position: absolute;
  width: 177px;
  height: 35px;
  left: 538px;
  top: 850px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.judulnews2 h6 {
  position: absolute;
  width: 350px;
  height: 336px;
  left: 538px;
  top: 900px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.read1 a {
  position: absolute;
  left: 538px;
  top: 1100px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #2a3cd9;
}

.news3 img {
  position: absolute;
  width: 356px;
  height: 225px;
  left: 56px;
  top: 1200px;
}

.judulnews3 h1 {
  position: absolute;
  width: 177px;
  height: 35px;
  left: 57px;
  top: 1430px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
}

.judulnews3 h6 {
  position: absolute;
  width: 350px;
  height: 336px;
  left: 57px;
  top: 1480px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.read2 a {
  position: absolute;
  left: 57px;
  top: 1680px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #2a3cd9;
}

.news4 img {
  position: absolute;
  width: 356px;
  height: 225px;
  left: 539px;
  top: 1200px;
}

.judulnews4 h1 {
  position: absolute;
  width: 177px;
  height: 35px;
  left: 539px;
  top: 1430px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.judulnews4 h6 {
  position: absolute;
  width: 350px;
  height: 336px;
  left: 539px;
  top: 1480px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.read3 a {
  position: absolute;
  left: 539px;
  top: 1680px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #2a3cd9;
}

.news5 img {
  position: absolute;
  width: 356px;
  height: 225px;
  left: 56px;
  top: 1800px;
}

.judulnews5 h1 {
  position: absolute;
  width: 177px;
  height: 35px;
  left: 57px;
  top: 2025px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.judulnews5 h6 {
  position: absolute;
  width: 350px;
  height: 336px;
  left: 57px;
  top: 2075px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #000000;
}

.read4 a {
  position: absolute;
  left: 57px;
  top: 2280px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #2a3cd9;
}

.news6 img {
  position: absolute;
  width: 356px;
  height: 225px;
  left: 539px;
  top: 1800px;
}

.judulnews6 h1 {
  position: absolute;
  width: 177px;
  height: 35px;
  left: 539px;
  top: 2025px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000000;
}

.judulnews6 h6 {
  position: absolute;
  width: 350px;
  height: 336px;
  left: 539px;
  top: 2075px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #000000;
}

.read5 a {
  position: absolute;
  left: 539px;
  top: 2280px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;

  color: #2a3cd9;
}

.sidebar3 {
  position: absolute;
  width: 400px;
  left: 950px;
  top: 580px;
}

.news7 img {
  position: absolute;
  width: 227px;
  height: 212px;
  left: 80px;
  top: 50px;
  border-radius: 120px;
}

.judulnews7 h1 {
  position: absolute;
  width: 227px;
  height: 35px;
  left: 80px;
  top: 300px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  text-align: center;

  color: #000000;
}

.judulnews7 h6 {
  position: absolute;
  width: 227px;
  height: 64px;
  left: 80px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  color: #000000;
}

.bgnews {
  position: absolute;
  width: 227px;
  height: 45px;
  left: 80px;
  top: 400px;
  background: #7e83fd;
}

.bgnews h1 {
  position: absolute;
  width: 227px;
  font-size: 18px;
  top: 10px;
  text-align: center;
}

.news8 img {
  position: absolute;
  width: 193px;
  height: 117px;
  left: 10px;
  top: 500px;
}

.judulnews8 h4 {
  position: absolute;
  left: 220px;
  top: 520px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;

  color: #000000;
}

.judulnews8 p {
  position: absolute;
  left: 220px;
  top: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #6e7781;
}

.news9 img {
  position: absolute;
  width: 193px;
  height: 117px;
  left: 10px;
  top: 650px;
}

.judulnews9 h4 {
  position: absolute;
  left: 220px;
  top: 670px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;

  color: #000000;
}

.judulnews9 p {
  position: absolute;
  left: 220px;
  top: 720px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #6e7781;
}

.news10 img {
  position: absolute;
  width: 193px;
  height: 117px;
  left: 10px;
  top: 800px;
}

.judulnews10 h4 {
  position: absolute;
  left: 220px;
  top: 820px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;

  color: #000000;
}

.judulnews10 p {
  position: absolute;
  left: 220px;
  top: 870px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #6e7781;
}

.news11 img {
  position: absolute;
  width: 193px;
  height: 117px;
  left: 10px;
  top: 950px;
}

.judulnews11 h4 {
  position: absolute;
  left: 220px;
  top: 970px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;

  color: #000000;
}

.judulnews11 p {
  position: absolute;
  left: 220px;
  top: 1020px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #6e7781;
}

.footer8 {
  top: 2400px;
}
